<!-- Navigation -->
<!--suppress ALL -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img width="24px" height="24px" src="{{ url_for('static', filename='jhound/jhound.png') }}" style="float:left;"/>
            <span style="padding-left:10px">
                <small>jHound &mdash; The JSON Analyzer</small>
            </span>
        </a>
    </div>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{{ url_for('repositories') }}">
                        <i class="fa fa-table fa-fw"></i> Data Sources<span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level" id="navbar-section-available-datasources">
                        <!-- jQuery Append Section for added datasets -->
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('result_page') }}"><i class="fa fa-bar-chart-o fa-fw"></i> Analysis results<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" id="navbar-section-available-results">
                        <!-- jQuery Append Section for analyzed datasets -->
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('config') }}"><i class="fa fa-wrench fa-fw"></i> Configuration</a>
                </li>
            </ul>
        </div>
    </div>
</nav>