<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
    <head>
        <title>jHound</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />

        <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='metisMenu/metisMenu.min.js') }}"></script> -->
        <script src="{{ url_for('static', filename='chartjs/Chart.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='chartjs/chartutils.js') }}"></script>
        <script src="{{ url_for('static', filename='jhound/webapp.js') }}"></script>

        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='sb-admin-2/sb-admin-2.css') }}" rel="stylesheet">
        <!-- <link href="{{ url_for('static', filename='metisMenu/metisMenu.min.css') }}" rel="stylesheet"> -->
        <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='jhound/jhound.css') }}" rel="stylesheet">

    </head>
    <body>
        <div id="wrapper"> <!-- ends in page_end partial -->

            {% include 'partials/menu.html' %}

            <div id="page-wrapper"> <!-- ends in page_end partial -->