{% include 'partials/page_begin.html' %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">jHound <b>Configuration</b></h1>
    </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newConfigModal">
    + New config 
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newNodeModal">
    + Add node 
</button>

<br>

<form class="form-inline" action="/config" method="POST">
    <div class="form-group">
        <label for="inputConfig">Select config:</label>
        <select class="form-control" name="inputConfig" onchange="this.form.submit()">
            {% for config_name in config_names %}
                {% if config_name == current_config %}
                <option value="{{ config_name }}" selected="selected">{{ config_name }}</option>
                {% else %}
                <option value="{{ config_name }}">{{ config_name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</form>

<form class="form-horizontal" method="POST" action="/config">
    <h3>Scraper settings</h3>

    <div class="form-group">
        <label for="inputMaxLinksDownload" class="col-sm-2 control-label">max_links_download</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputMaxLinksDownload"
            name="max_links_download" placeholder="0" value="{{ config['max_links_download'] }}">
        </div>
    </div>
    
    <div class="form-group">
        <label for="inputMaxLinksFetching" class="col-sm-2 control-label">max_links_fetching</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputMaxLinksFetching"
            name="max_links_fetching" placeholder="0" value="{{ config['max_links_fetching'] }}">
        </div>
    </div>

    <div class="form-group">
        <label for="inputMaxFilesize" class="col-sm-2 control-label">max_filesize</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputMaxFilesize"
            name="max_filesize" placeholder="0" value="{{ config['max_filesize'] }}">
        </div>
    </div>

    <div class="form-group">
        <label for="inputSkipResources" class="col-sm-2 control-label">skip_resources</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputSkipResources"
            name="skip_resources" placeholder="0" value="{{ config['skip_resources'] }}">
        </div>
    </div>

    <div class="form-group">
        <label for="inputStorageDirectory" class="col-sm-2 control-label">storage_directory</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputStorageDirectory"
            name="storage_directory" placeholder="~/jhound/" value="{{ config['storage_directory'] }}">
        </div>
    </div>

    <div class="form-group">
        <label for="inputTimeout" class="col-sm-2 control-label">timeout</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputTimeout"
            name="timeout" placeholder="60" value="{{ config['timeout'] }}">
        </div>
    </div>

    <div class="form-group">
        <label for="inputChunkSize" class="col-sm-2 control-label">chunk_size</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputChunkSize"
            name="chunk_size" placeholder="100" value="{{ config['chunk_size'] }}">
        </div>
    </div>

    <h3>Main/Node server settings</h3>

    <div class="form-group">
        <label for="inputMasterUrl" class="col-sm-2 control-label">master_url</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputMasterUrl"
            name="address" placeholder="localhost" value="{{ config['master']['address'] if config['master'] else '' }}">
        </div>
    </div>

    <div class="form-group">
        <label for="inputMasterPort" class="col-sm-2 control-label">master_port</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputMasterPort"
            name="port" placeholder="9876" value="{{ config['master']['port'] if config['master'] else None }}">
        </div>
    </div>

    <div class="form-group">
        <label for="inputDelaySeconds" class="col-sm-2 control-label">delay_seconds</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputDelaySeconds" placeholder="0"
            name="delay_seconds" value="{{ config['master']['delay_seconds'] if config['master'] else None }}">
        </div>
    </div>

    <div class="form-group">
        <label for="inputMaxThreads" class="col-sm-2 control-label">max_threads</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputMaxThreads" placeholder="4"
            name="max_threads" value="{{ config['master']['max_threads'] if config['master'] else None }}">
        </div>
    </div>

    <div class="form-group">
        <label for="inputNodeUpdateInterval" class="col-sm-2 control-label">node_update_interval</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputNodeUpdateInterval" placeholder="10"
            name="node_update_interval" value="{{ config['master']['node_update_interval'] if config['master'] else None }}">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save configuration</button>
        </div>
    </div>
</form>
  
<!-- New config modal -->
<div class="modal fade" id="newConfigModal" tabindex="-1" role="dialog" aria-labelledby="newConfigModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create a new config file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="POST" action="/config">
                    <div class="form-group">
                        <label for="inputNewConfigName" class="col-sm-2 control-label">Config name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNewConfigName"
                            name="new_config_name" placeholder="config" required="true">
                        </div>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create new config</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- New node modal -->
<div class="modal fade" id="newNodeModal" tabindex="-1" role="dialog" aria-labelledby="newNodeModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add a new node</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="POST" action="/node/add">
                    <div class="form-group">
                        <label for="inputNewNodeName" class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNewNodeName"
                            name="name" placeholder="n0d3">
                        </div>

                        <label for="inputNewNodeAddress" class="col-sm-2 control-label">Address:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNewNodeAddress"
                            name="address" placeholder="127.0.0.1" required="true">
                        </div>

                        <label for="inputNewNodePort" class="col-sm-2 control-label">Port:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNewNodePort"
                            name="port" placeholder="1337" required="true">
                        </div>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add node</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'partials/page_end.html' %}