{% include 'partials/page_begin.html' %}

<form class="form-horizontal" method="POST", action="/">
    <h3>Welcome to jHound!</h3>
    <p>
        It seems like this is the first time you're using jHound.
        In order for jHound to work correctly, you have to set
        a few things up.
    </p>

    <div class="form-group">
        <label for="inputConfigName" class="col-sm-2 control-label">Configuration name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputConfigName" name="config_name" placeholder="config" required="true">
        </div>
    </div>

    <div class="form-group">
        <label for="inputMongoUrl" class="col-sm-2 control-label">MongoDB Address/URL</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputMongoUrl" name="mongo_url" placeholder="localhost" required="true">
        </div>
    </div>

    <div class="form-group">
        <label for="inputMongoPort" class="col-sm-2 control-label">MongoDB port</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputMongoPort" name="mongo_port" placeholder="27017" required="true">
        </div>
    </div>

    <div class="form-group">
        <label for="inputMongoUser" class="col-sm-2 control-label">MongoDB username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputMongoUser" name="mongo_username" placeholder="jhound" required="true">
        </div>
    </div>

    <div class="form-group">
        <label for="inputMongoPassword" class="col-sm-2 control-label">MongoDB password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputMongoPassword"
                name="mongo_password" placeholder="thisisasecurepassword" required="true">
        </div>
    </div>

    <div class="form-group">
        <label for="inputCollectionName" class="col-sm-2 control-label">Collection name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCollectionName" 
                name="collection_name" placeholder="repositories" required="true">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>

{% include 'partials/page_end.html' %}