<!DOCTYPE html>

<html lang="en">
    <head>
        <title>jHound</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />

        <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='metisMenu/metisMenu.min.js') }}"></script> -->
        <!-- <script src="{{ url_for('static', filename='jhound/webapp.js') }}"></script> -->

        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='sb-admin-2/sb-admin-2.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='metisMenu/metisMenu.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='jhound/jhound.css') }}" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h1 class="page-header">jHound <b>Setup</b></h1>
            <p class="lead">
                Welcome! It seems like this is the first time you're using jHound.<br>
                In order for jHound to work correctly, you have to set
                a few things up.
            </p>

            <form method="POST", action="/">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputConfigName">Configuration name</label>
                        <input type="text" class="form-control" id="inputConfigName" name="config_name" placeholder="config" required="true">
                    </div>
                </div>
            
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputMongoUrl">MongoDB Address/URL</label>
                        <input type="text" class="form-control" id="inputMongoUrl" name="mongo_url" placeholder="localhost" required="true">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputMongoPort">MongoDB port</label>
                        <input type="number" class="form-control" id="inputMongoPort" name="mongo_port" placeholder="27017" required="true">
                    </div>
                </div>
            
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputMongoUser">MongoDB username</label>
                        <input type="text" class="form-control" id="inputMongoUser" name="mongo_username" placeholder="jhound" required="true">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputMongoPassword">MongoDB password</label>
                        <input type="password" class="form-control" id="inputMongoPassword" name="mongo_password"
                            placeholder="thisisasecurepassword" required="true">
                    </div>
                </div>
            
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputCollectionName">Collection name</label>
                        <input type="text" class="form-control" id="inputCollectionName" name="collection_name" placeholder="repositories" required="true">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary float-right">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>