{% include 'partials/page_begin.html' %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">jHound <b>Dashboard</b></h1>
            <!--
            <img width="25%"; height="25%" src="{{ url_for('static', filename='jhound/jhound.png') }}" />
            <p style="margin: 20px 0 0 0">Bitte wählen Sie eine Option in der Sidebar</p>
            -->
        </div>
    </div>
    <div class="row" id="node_overview_container">
        <div class="col-md-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9" style="font-weight: bold">
                            Preflight Check
                        </div>
                        <div class="col-md-3 text-right">
                            passed
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p><span class="fa fa-check"> The config.json file exists</span></p>
                    <p><span class="fa fa-check"> The database is reachable</span></p>
                    <p><span class="fa fa-check"> The storage directory is writeable</span></p>
                    <p><span class="fa fa-check"> At least one node exists</span></p>
                    <p><span class="fa fa-check"> At least one node is up</span></p>
                    <hr />
                     <p><span class="fa fa-info-circle"> Active config: minimal</span></p>
                     <p><span class="fa fa-info-circle"> Storage directory: /home/nic_ds/</span></p>
                     <p><span class="fa fa-info-circle"> <b>This box is currently a dummy!</b></span></p>
                </div>
            </div>
        </div>
    </div>

{% include 'partials/page_end.html' %}