{% include 'partials/page_begin.html' %}
     <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span class="fa fa-folder-open-o"></span> <span id="repository-name">Repository Name</span></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-info-circle"></span> Basic Repository Information</h3>
                </div>
                <div class="panel-body" id="repository-basic-information">
                    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-bar-chart-o"></span> Basic Repository Statistics</h3>
                </div>
                <div class="panel-body" id="repository-basic-statistics">
                    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-area-chart"></span> In-Depth Inspector</h3>
                </div>
                <div class="panel-body" id="repository-advanced-statistics">
                    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-link"></span> Scraped Links</h3>
                </div>
                <div class="panel-body" id="repository-scraped-links">
                    <button type="button" class="btn btn-default" data-toggle="collapse" href="#collapseScrapedLinks" role="button" aria-expanded="false" aria-controls="collapseScrapedLinks" id="repository-toggle-scraped-links">Toggle Links</button>
                    <div class="collapse" id="collapseScrapedLinks" style="margin-top:15px">
                        <i class="fa fa-spinner fa-spin" style="font-size:24px" id="spinner-scraped-links"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-gears"></span> Action and Maintenance</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div id="repository-action-container">
                                <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="btn-group dropup pull-right">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Maintenance <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li id="repository-delete-fully"><a href="#"><b><span class="fa fa-trash"></span> Delete completely</b></a></li>
                                    <li id="repository-delete-local"><a href="#"><span class="fa fa-trash-o"></span> Delete local files, keep in database</a></li>
                                    <li id="repository-delete-db"><a href="#"><span class="fa fa-trash-o"></span> Delete from database, keep local files</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'partials/page_end.html' %}

