{% include 'partials/page_begin.html' %}

<!--suppress HtmlUnknownTarget -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            jHound <b>Repositories</b>
            <span class="pull-right">
                <a data-toggle="modal" data-target="#newRepositoryModal">
                    <span class="fa fa-plus-circle"></span>
                </a>
            </span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <table class="table table-striped table-hover" id="table-of-repositories">
            <thead>
                <tr>
                    <th><!-- Intentionally empty --></th>
                    <th>Repository Name</th>
                    <th>Repository URL</th>
                    <th>Date added</th>
                    <th>Internal UUID</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table-repository-overview">
                <!-- jQuery Append Section -->
            </tbody>
        </table>
    </div>
</div>

<!-- New config modal -->
<div class="modal fade" id="newRepositoryModal" tabindex="-1" role="dialog" aria-labelledby="newRepositoryModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new repository</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="new-repository-form">
                    <div class="form-group">
                        <label for="inputNewRepositoryName" class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNewRepositoryName"
                            name="new_repository_name" placeholder="OpenData foo bar" required="true">
                        </div>

                        <label for="inputNewRepositoryURL" class="col-sm-2 control-label">URL:</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" id="inputNewRepositoryURL"
                            name="new_repository_url" placeholder="https://opendata.foo.bar" required="true">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="new-repository-submit">Add repository</button>
            </div>
        </div>
    </div>
</div>

{% include 'partials/page_end.html' %}