{% include 'partials/page_begin.html' %}
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" id="repository-name">Results for <b>{{ result['name'] }}</b></h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <div class="huge" id="label-amt-scraped-links">{{ result['scraped_links'] }}</div>
                                        <div>Scraped links to JSON documents</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <div class="huge" id="label-amt-downloaded-repositories">
                                            {{ result['downloaded_documents'] }}
                                            <!-- <small>({{ downloaded_percentage }}%)</small> -->
                                        </div>
                                        <div>JSON documents of the Repository downloaded</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <div class="huge" id="label-amt-downloads-failed">{{ result['download_errors'] }}</div>
                                        <div>Downloads failed (<u id="view-failed-downloads">View Log</u>)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <div class="huge" id="label-amt-fatal-errors">{{ result['fatal_errors'] }}</div>
                                        <div>Fatal Errors</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <canvas id="optionalRequiredChart" width="200px" height="200px"></canvas>
                        {% if uuid %}
                        <a class="btn btn-default" href="/image/propertyFrequencies/{{ uuid }}" role="button">Save as image</a>
                        {% else %}
                        <a class="btn btn-default" href="/image/propertyFrequencies" role="button">Save as image</a>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <canvas id="datatypeDistributionChart" width="200px" height="200px"></canvas>
                        {% if uuid %}
                        <a class="btn btn-default" href="/image/typeDistribution/{{ uuid }}" role="button">Save as image</a>
                        {% else %}
                        <a class="btn btn-default" href="/image/typeDistribution" role="button">Save as image</a>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-4">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <canvas id="filesizeHistogramChart" width="200px" height="100px"></canvas>
                        {% if uuid %}
                        <a class="btn btn-default" href="/image/filesizeHistogram/{{ uuid }}" role="button">Save as image</a>
                        {% else %}
                        <a class="btn btn-default" href="/image/filesizeHistogram" role="button">Save as image</a>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <button id="filesizeHistogramToggleLinearLogarithmic" type="button" class="btn btn-small btn-default">Toggle display mode</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <canvas id="bubbleChart" width="200px" height="100px"></canvas>
                        {% if uuid %}
                        <a class="btn btn-default" href="/image/bubblechart/{{ uuid }}" role="button">Save as image</a>
                        {% else %}
                        <a class="btn btn-default" href="/image/bubblechart" role="button">Save as image</a>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-4">
                    </div>
                </div>


                <!-- Provenance Modal -->
                <div class="modal fade" id="bubblechartProvenanceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="bubblechartProvenanceModalTitle">Provenance</h4>
                      </div>
                      <div class="modal-body" id="bubblechartProvenanceModalBody">
                          Placeholder
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Failed Downloads  Modal -->
                <div class="modal fade" id="failedDownloadsModal" tabindex="-1" role="dialog" aria-labelledby="failedDownloadsModal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="failedDownloadsModalTitle">Failed Downloads </h4>
                      </div>
                      <div class="modal-body" id="failedDownloadsModalBody">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Inspect File Modal -->
                <div class="modal modal-lg fade" id="inspectFileModal" tabindex="-1" role="dialog" aria-labelledby="inspectFileModal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="inspectFileModalTitle">Document Inspection </h4>
                      </div>
                      <div class="modal-body" id="inspectFileModalBody">
                          Placeholder
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
{% include 'partials/page_end.html' %}