.distro-logo {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.distro-logo-grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.distro-logo-colored {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}